<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('products', filter='all') }}"
                >PRODUCTS</a
              >
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% if current_user.is_authenticated %}{{ url_for('dashboard') }}{% else %}{{ url_for('login') }}{% endif %}"
              >
                <img
                  src="{{ url_for('static', filename='images/user-gold-mask.png') }}"
                  alt="User Icon"
                  class="nav-icon user-icon"
                />
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('basket') }}">
                <img
                  src="{{ url_for('static', filename='images/basket-gold-cart.png') }}"
                  alt="Cart"
                  class="nav-icon cart-icon"
                />
                (<span id="basket-count"
                  >{{ session.get('basket')|length if session.get('basket') else
                  0 }}</span
                >)
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="basket-container">
      <h1>YOUR BASKET</h1>
      {% if session.get('order_complete') %}
      <div class="alert alert-success text-center" role="alert">
        Thank you for your order!
      </div>
      {% set _ = session.pop('order_complete') %} {% endif %} {% if basket %}
      <ul>
        {% for item in basket %}
        <li>
          {{ item.name }} - £{{ "{:,.2f}".format(item.price) }}
          <form
            action="{{ url_for('remove_from_basket', product_id=item.id) }}"
            method="POST"
            style="display: inline"
          >
            <button type="submit" class="remove-btn">X</button>
          </form>
        </li>
        {% endfor %}
      </ul>

      <h3>Total: £{{ "{:,.2f}".format(total) }}</h3>

      <form action="{{ url_for('checkout') }}" method="POST">
        <button type="submit" class="btn btn-success mt-4">
          Proceed to Checkout
        </button>
      </form>
      {% else %}
      <p>Your basket is empty.</p>
      {% endif %}
    </div>

    <div class="container-fluid text-center footer">
      <p>© 2025 Wakanda Souvenirs & Tours. All rights reserved.</p>
      <p>Designed with pride in Wakanda | Privacy Policy | Terms of Service</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
